attrs==22.1.0
branca==0.6.0
certifi==2022.9.24
cffi==1.14.0
chardet==3.0.4
charset-normalizer==2.1.1
conda==4.8.3
conda-package-handling==1.7.0+0.g7c4a471.dirty
coverage==6.5.0
cryptography==2.9.2
exceptiongroup==1.0.1
fit2gpx==0.0.6
fitdecode==0.10.0
folium==0.13.0
gpxpy==1.5.0
idna==3.4
iniconfig==1.1.1
Jinja2==3.1.2
MarkupSafe==2.1.1
numpy==1.23.4
packaging==21.3
pluggy==1.0.0
pycosat==0.6.3
pycparser==2.20
pyOpenSSL==19.1.0
pyparsing==3.0.9
PySocks==1.7.1
pytest==7.2.0
pytest-cov==4.0.0
requests==2.28.1
ruamel-yaml==0.15.87
tomli==2.0.1
tqdm==4.46.0
pandas==1.5.1
python-dateutil==2.8.2
pytz==2022.6
six==1.16.0
urllib3==1.26.12
